@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-hover {
  @apply duration-200 hover:bg-iconbgHover hover:scale-125 hover:text-mainText rounded-full;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #1e1e32;
  color: #ffffff;
  margin: 1rem;
  overflow: hidden;
}
